<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrocaGenérica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="fundo" background="https://media.istockphoto.com/vectors/personnel-change-line-icon-people-in-round-cycle-symbol-human-can-vector-id1203564601?k=20&m=1203564601&s=612x612&w=0&h=OS_sJmKzwgJNykA4AxeoH10hgaqDTi_Y5ycQd0jRHF8=">
    <header>
        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3  "
            style="background-color:#45b5c4">

            <div class="container-fluid">
                <a class="text-dark navbar-brand" asp-area="" asp-controller="Principal" asp-action="Index">TrocaGenérica</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="p nav nav-pills" role="tablist">
                         
                        <li class="li1"><a class="text-dark " asp-area="" asp-controller="Home" asp-action="Principal">Inicio</a>
                        </li>
                        <br><br>

                       


                     
                        <li class="cadastre"><a class="text-dark " asp-area="" asp-controller="Usuario"
                                asp-action="Create">Cadastre-se</a></li>
                                 <br><br>

                        </li>
                        <li class="li3"><a class="text-dark " asp-area="" asp-controller="Login" asp-action="Index">Entre</a></li>

                    </ul>



                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
