
@{
     Layout = "_LayoutDeslogado";
    ViewData ["TIttle"]= "Pagina principal";
}

<div class="text-center">
    <h1  style="color: #005bc5" class="display-4">Venha fazer parte da nossa historia!</h1>
</div> 
